body {
    overflow: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 1200px;
        padding: 7rem;

        .text-zone {
            width: 60%;

            .resume-link {
                font-size: 20px;
                background: black;
                text-decoration: none;
                color: yellow;
                padding: 1rem 1rem;
                border-radius: 1.5rem;
                animation: fadeIn 1s 1.8s backwards;
    
                &:hover {
                    background: yellow;
                    color: black;
                }
            }
        }

        h1 {
            color: white;
            font-size: 53px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            animation: fadeIn 1s 1.6s backwards;
        }

        h2 {
            color: #8d8d8d;
            margin-top: 20px;
            font-weight: 400;
            font-size: 20px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }

        li {
            font-size: 15px;
            animation: fadeIn 1s 2s backwards;
            color: black;
            
            strong {
                color: yellow;
            }
        }



        .image {
            img {
                width: 300px;
                height: 300px;
                margin-top: 20px;
                border-radius: 10px;
                border: 2px solid yellow;
                animation: fadeIn 1s 2.0s backwards; 
            }
        }

        .spreadsheet-image {
            img {
                width: 350px;
                height: 200px;
                margin-top: 20px;
                border-radius: 10px;
                border: 2px solid yellow;
                animation: fadeIn 1s 2.0s backwards; 
            }
        }

        .project-zone {
            display: flex;
            justify-content: space-between;
        }

        .description {
            margin-right: 5rem;
        }
    }
}