body {
    margin-bottom: 10rem;
}

.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-grow: 1;
    flex-shrink: 1;

    .content-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        max-width: 80%;

        .title-zone {
            width: 100%;

            .resume-link {
                font-size: 20px;
                background: black;
                text-decoration: none;
                color: yellow;
                padding: 1rem 1rem;
                border-radius: 1.5rem;
                animation: fadeIn 1s 1.8s backwards;
    
                &:hover {
                    background: yellow;
                    color: black;
                }
            }
        }

        h1 {
            color: white;
            font-size: 53px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            animation: fadeIn 1s 1.6s backwards;
        }

        h2 {
            color: #8d8d8d;
            font-weight: 400;
            font-size: 20px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }

        li {
            font-size: 15px;
            animation: fadeIn 1s 2s backwards;
            color: black;
            
            strong {
                color: yellow;
            }
        }

        .image {
            img {
                width: 300px;
                height: 300px;
                margin-top: 40px;
                border-radius: 10px;
                border: 2px solid yellow;
                animation: fadeIn 1s 2.0s backwards; 
            }
        }

        .spreadsheet-image {
            img {
                width: 350px;
                height: 200px;
                border-radius: 10px;
                border: 2px solid yellow;
                animation: fadeIn 1s 2.0s backwards; 
            }
        }

        .project-zone {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5rem;
        }

        .description {
            margin-right: 5rem;
        }

        .project-zone-1 {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .project {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1500px) {
    .project-zone {
        flex-wrap: wrap;
    }
}